<html>
	<head>
		<title><%=title%></title>
	</head>
	<body>
		<h1><%=title%></h1>
		<form action='/add' method='post'>
			<div>
				<label>Name:</label>
				<input type="text" name="name" id="name"/><br/>
			</div>
			<div>
				<label>Id:</label>
				<input type="text" name="id"/>
			</div>
			<div>
				<label>Designation:</label>
				<input type="text" name="dese"/>
			</div>
			<div><input type="submit" value="Sign Up"/></div>
		</form>
	</body>
</html>